.CalendarFooter {
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 16px;
}

.CalendarFooter-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.CalendarFooter-date {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.08px;
}

.CalendarFooter-price {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.04px;
  color: #878d96;
}
.CalendarFooter-list-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.CalendarFooter-list-top-box {
  display: flex;
  align-items: center;
}

.CalendarFooter-list-item-image {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.CalendarFooter-list-item-name {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.04px;
  color: #4d5358;
}

.CalendarFooter-list-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #878d96;
}

.CalendarFooter-detail-btn {
  border: none;
  background-color: transparent;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  color: #c1c7cd;
}
